{% extends 'encyclopedia/layout.html' %}{% block title %}Uyghurs{% endblock %}{% block body %}<h1>Uyghurs</h1>

<p>The Uyghurs ,alternately Uygurs, Uighurs or Uigurs, are a Turkic-speaking minority ethnic group originating from and culturally affiliated with the general region of Central and East Asia. The Uyghurs are recognized as native to the Xinjiang Uyghur Autonomous Region in Northwest China. .</p>
<div style="margin-top: 50px;">
    <a href="" role="button" class="btn btn-dark ">Eddit</a>
</div>

{% endblock %}